.App {
  text-align: center;
}

.navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #C4C4C4;
  background-color: #2F2D2D;
}

.navbar-container h2{
  font-size: 2rem;
  margin: auto 1.5rem;
  color: #07FE20;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  width: 85%;
  margin: 1rem auto;
}

.nav-btn{
  margin: auto 1rem;
  padding: 0.25rem;
  text-decoration: none;
  color: white;
}

.nav-btn:hover{
  color: #07FE20;
}

.register{
  color: black;
  background-color: #07FE20;
  padding: .5rem 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

.register:hover{
  color: White;
  background-color: #108E0C;
}

.highlight{
  color: white;
}