.App {
  text-align: center;
}

.navbar-container{
  width: 100%;
  border-bottom: 1px solid black;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  width: 85%;
  margin: 1rem auto;
}

.nav-btn{
  margin: auto 2rem;
  padding: 0.75rem;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 15px;
}
