html{
	font-size: 62.5%;
}

.App {
  text-align: center;
}

.navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #C4C4C4;
  background-color: #2F2D2D;
}

.navbar-container h2{
  font-size: 3rem;
  margin: 1rem 2rem;
  color: #07FE20;
}

.logo{
	text-decoration: none;
	margin: auto 1rem;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
  margin: 1rem auto;
}

.nav-btn{
  margin: auto 2rem;
  padding: 1rem;
  text-decoration: none;
  color: #2F2D2D;
  background-color: #07FE20;
  border-radius: 10px;
  font-size: 1.8rem;
}

.nav-btn:hover{
	color: black;
	background-color: #C4C4C4;
}
  
.register{
	color: black;
	background-color: #07FE20;
	padding: .25rem 1rem;
	font-size: 1.2rem;
	border-radius: 10px;
}

.register:hover{
	color: White;
	background-color: #108E0C;
}

.highlight{
	color: white;
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body {
	background: #222;
	font-family: 'Roboto Mono', monospace;
	user-select: none;
	color: #e6e7e8;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.inputs {
	background: rgba(255, 255, 255, 0.03);
	padding: 10px;
	margin-top: 10px;
	border: 1px dashed #555;
	flex-direction: column;
	align-items: center;
	display: flex;
	justify-content: center;
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.inputs.hide {
	transform: translateX(60%);
	opacity: 0;
	pointer-events: none;
}
.inputs > div {
	width: 100%;
	margin-bottom: 5px;
}
.inputs > div:last-of-type {
	margin: 0;
}
.inputs input {
	cursor: pointer;
}
.inputs input[type=range] {
	width: 110px;
}
.inputs label {
	cursor: pointer;
}
.inputs p {
	margin: 0;
}
.cube-button {
	cursor: pointer;
	font-family: 'Roboto Mono', monospace;
	background: #e6e7e8;
	border: none;
	outline: none;
	font-size: 10px;
	padding: 5px 10px;
	color: #222;
	min-width: 100%;
	border-radius: 2px;
	transition: background 100ms;
}
.cube-button:hover {
	background: #ccc;
}
.cube-button:active {
	background: #aaa;
}
.panel {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
}
.container {
	position: relative;
	width: 500px;
	height: 500px;
	transition: perspective 300ms ease;
}
.cube {
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 300ms ease;
}
.cube.animated {
	transition-duration: 500ms;
}
.cube figure {
	position: absolute;
	margin: 0;
	height: 300px;
	width: 300px;
	background: #fff;
	display: block;
	transition: opacity 300ms;
}
.cube figure:nth-of-type(1) {
	background: #1e9442;
	transform: translateZ(150px);
}
.cube figure:nth-of-type(2) {
	background: #1e9442;
	transform: rotateX(180deg) translateZ(150px);
}
.cube figure:nth-of-type(3) {
	background: #8f3c3c;
	transform: rotateY(-90deg) translateZ(150px);
}
.cube figure:nth-of-type(4) {
	background: #593c8f;
	transform: rotateY(90deg) translateZ(150px);
}
.cube figure:nth-of-type(5) {
	background: rgb(74, 74, 136);
	transform: rotateX(90deg) translateZ(150px);
}
.cube figure:nth-of-type(6) {
	background: #0f4b21;
	transform: rotateX(-90deg) translateZ(150px);
}
.loginContainer div, .logoutContainer div, .registerContainer div {
padding-top: 218px;
font-size: 5em;
}

.loginContainer {
	height: 20px;
	width: 20px;
}

form{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

input{
	margin: 0.1rem auto;
	width: 80%;
	padding: 0.5rem;
	font-size: 1.6rem;
	border-radius: 10px;
}

.submit-btn{
	margin: auto;
	width: 33%;
	padding: 0.25rem;
	font-size: 1.4rem;
	border-radius: 10px;
}

.checkbox{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.2rem;
	padding: 1rem;
}

.recipe-list{
	width: 95%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-around;
}

.recipe{
	background-color: #C4C4C4;
	color: black;
	width: 30%;
	margin: 1rem;
	padding: 1rem;
	border-radius: 10px;
}
@media all and (min-width: 480px) {
	.Login {
	  padding: 60px 0;
	}
  
	.Login form {
	  margin: 0 auto;
	  max-width: 320px;
	}
  }

.recipe h2{
	font-size: 2.2rem;
}

.recipe h4{
	font-size: 1.6rem;
}

.recipe p{
	font-size: 1.4rem;
}

.Profile {
	height: 200px;
	width: 400px;
	border: 1px solid black;
	font-size: 3em;
	padding: 15px;
	margin: 20px;	
	box-shadow: 5px 5px 5px 3px black;
	background: #1234;
	border-radius: 10px;
}

.prof {
	display: flex;
	flex-wrap: wrap;
}

.cancelButtonContainer {
	height: 20px;
	width: 20px;
	float: right;
	border-radius: 50%;
}

.cancelButtonContainer button {	
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.cube .form-label {
	display: block;
	font-size: 2em;
}
.cube .Login {
  padding: 20px 0;
}

.cube button {
	margin-top: 10px;
    width: 33%;
    padding: 0.25rem;
    font-size: 1.4rem;
    border-radius: 10px;
}

